body{
    font-family: Verdana;
    font-size: 2em;
}
.label-container {
    text-align: center;
    margin: 15rem auto;
}
.label {
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* Diğer görsel düzenlemeleri buraya ekleyebilirsin */
    color: darkviolet;
}
.label-container img {
    width: 20rem;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}